# Zomato Exercise

Zomato is a restaurant aggregator website. The platform provides information, menus and user-reviews of restaurants as well as food delivery options from partner restaurants in select cities. You have been provided 3 datasets:

- zomato.csv contains restaurant information like average_cost_for_two, cuisines
- location.csv contains location of the restaurants like address, city, locality & etc
- ratings.csv contains aggregate rating for each restaurant

The different files are connected using the `id` columns which can be found in the different files. The id column is a unique identifier to represent a restaurant. You can use this to **merge** the different files.

# Graded Notebook 3: Pandas and Numpy

## Student Information

**Name:** Amjad Rian S. Mangondato

**Course:** DATA100

**Date Submitted:** September 28, 2024

In [1]:
import pandas as pd
import numpy as np

1. Merge the zomato, location & ratings file into a signle dataframe and store it to the `merged_df` variable **(3pts)**

In [2]:
merged_df = None

In [3]:
import pandas as pd

location_url = "https://raw.githubusercontent.com/Jad-Rian/Graded-Notebook-3---Zomato-Exercise/refs/heads/main/location.csv"
ratings_url = "https://raw.githubusercontent.com/Jad-Rian/Graded-Notebook-3---Zomato-Exercise/refs/heads/main/ratings.csv"
zomato_url = "https://raw.githubusercontent.com/Jad-Rian/Graded-Notebook-3---Zomato-Exercise/refs/heads/main/zomato.csv"

location_df = pd.read_csv(location_url)
ratings_df = pd.read_csv(ratings_url)
zomato_df = pd.read_csv(zomato_url)

merged_df = pd.merge(zomato_df, location_df, on='id', how='outer')
merged_df = pd.merge(merged_df, ratings_df, on='id', how='outer')

cols = ['id', 'address', 'city', 'city_id', 'country_id', 'latitude',
        'locality', 'locality_verbose', 'longitude', 'zipcode',
        'aggregate_rating', 'rating_color', 'rating_text', 'votes',
        'average_cost_for_two', 'book_url', 'cuisines', 'currency', 'deeplink',
        'events_url', 'featured_image', 'has_online_delivery',
        'has_table_booking', 'include_bogo_offers', 'is_book_form_web_view',
        'is_delivering_now', 'is_table_reservation_supported',
        'is_zomato_book_res', 'menu_url', 'mezzo_provider', 'name',
        'photos_url', 'price_range', 'thumb', 'url']

for col in cols:
    if col not in merged_df.columns:
        merged_df[col] = None

merged_df = merged_df[cols]

print(merged_df.shape)
print(sorted(merged_df.columns))

(6830, 35)
['address', 'aggregate_rating', 'average_cost_for_two', 'book_url', 'city', 'city_id', 'country_id', 'cuisines', 'currency', 'deeplink', 'events_url', 'featured_image', 'has_online_delivery', 'has_table_booking', 'id', 'include_bogo_offers', 'is_book_form_web_view', 'is_delivering_now', 'is_table_reservation_supported', 'is_zomato_book_res', 'latitude', 'locality', 'locality_verbose', 'longitude', 'menu_url', 'mezzo_provider', 'name', 'photos_url', 'price_range', 'rating_color', 'rating_text', 'thumb', 'url', 'votes', 'zipcode']

In [6]:
assert (6830, 35)==merged_df.shape

cols = ['id', 'address', 'city', 'city_id', 'country_id', 'latitude',
       'locality', 'locality_verbose', 'longitude', 'zipcode',
       'aggregate_rating', 'rating_color', 'rating_text', 'votes',
       'average_cost_for_two', 'book_url', 'cuisines', 'currency', 'deeplink',
       'events_url', 'featured_image', 'has_online_delivery',
       'has_table_booking', 'include_bogo_offers', 'is_book_form_web_view',
       'is_delivering_now', 'is_table_reservation_supported',
       'is_zomato_book_res', 'menu_url', 'mezzo_provider', 'name',
       'photos_url', 'price_range', 'thumb', 'url']

assert sorted(merged_df.columns) == sorted(cols)

2. Create a function that returns the average aggregate rating for each city. Expected returned value is a Series datatype which contains name of city as index and average aggregate rating as value. **(2pts)**

In [7]:
import pandas as pd
import numpy as np

def exercise_2(merged_df):
    average_ratings = merged_df.groupby('city')['aggregate_rating'].mean()

    average_ratings = average_ratings.sort_index()

    return average_ratings

In [8]:
res_series = exercise_2(merged_df)
assert True == np.isclose(3.302075, res_series[res_series.index == 'Pasay City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]
assert True == np.isclose(1.890741, res_series[res_series.index == 'Valenzuela City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]
assert True == np.isclose(1.558333, res_series[res_series.index == 'Malabon City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]

3. Using the apply function of pandas convert the rating_text to a numeric equivalent. You are to introduce a new column in merged_df called `rating_numeric` which is based on the value from rating_text: **(3pts)**

Excellent = 5 <br>
Very Good = 4 <br>
Good = 3 <br>
Average = 2 <br>
Poor = 1 <br>
Not rated = 0 <br>

In [9]:
def text_to_numeric_rating(text):
    rating_map = {
        'Excellent': 5,
        'Very Good': 4,
        'Good': 3,
        'Average': 2,
        'Poor': 1,
        'Not rated': 0
    }
    return rating_map.get(text, 0)  # Default to 0 if not found

merged_df['rating_numeric'] = merged_df['rating_text'].apply(text_to_numeric_rating)

In [10]:
assert 868 == merged_df[merged_df.rating_numeric == 0].shape[0]
assert True == ('rating_numeric' in merged_df.columns)

4. Create a function which filters the merged dataframe to only contain rows coming in from a specific city. Expected returned value is a dataframe **(2pts)**

In [11]:
def exercise_4(merged_df, city):
    filtered_df = merged_df[merged_df['city'] == city]

    return filtered_df

In [12]:

assert 'Makati City' == exercise_4(merged_df, 'Makati City').city.unique()[0]
assert (976, 36) == exercise_4(merged_df, 'Makati City').shape

assert 'Mandaluyong City' == exercise_4(merged_df, 'Mandaluyong City').city.unique()[0]
assert (443, 36) == exercise_4(merged_df, 'Mandaluyong City').shape

assert (0, 36) == exercise_4(merged_df, 'Quezon  City').shape

5. Create a function to filter the dataframe to only contain certain columns passed in the function. Expected returned value is a dataframe **(1pt)**

In [ ]:
def exercise_5(merged_df, cols_to_filter):
    filtered_df = merged_df[cols_to_filter]

    return filtered_df

In [ ]:
cols = ['name', 'cuisines', 'city', 'aggregate_rating']
assert sorted(cols) == sorted(exercise_5(merged_df, cols).columns)
assert (6830, 4) == exercise_5(merged_df, cols).shape

cols = ['average_cost_for_two', 'book_url', 'cuisines', 'currency', 'deeplink',
       'events_url', 'featured_image', 'has_online_delivery',
       'has_table_booking', 'include_bogo_offers', 'is_book_form_web_view']
assert sorted(cols) == sorted(exercise_5(merged_df, cols).columns)
assert (6830, 11) == exercise_5(merged_df, cols).shape

6.  What is the most common restaurant name in the dataset? **(2pts)** Write down your answer and show code used to come up with the answer.

The most common restaurant in the dataset is Starbucks, appearing 99 times.

In [13]:
name_counts = merged_df['name'].value_counts()

most_common_name = name_counts.index[0]
most_common_count = name_counts.iloc[0]

print(f"The most common restaurant name is '{most_common_name}'")
print(f"It appears {most_common_count} times in the dataset.")

print("\nTop 5 most common restaurant names:")
print(name_counts.head())

The most common restaurant name is 'Starbucks'
It appears 99 times in the dataset.

Top 5 most common restaurant names:
name
Starbucks          99
Jollibee           77
McDonald's         66
KFC                54
BonChon Chicken    49
Name: count, dtype: int64

7. Which restaurant has the most expensive average cost for two? **(2pts)** Write down your answer and show code used to come up with the answer.

The Tasting Room in Paranaque has the most expensive average cost for two.

In [14]:
sorted_df = merged_df.sort_values('average_cost_for_two', ascending=False)

most_expensive = sorted_df.iloc[0]

print(f"The restaurant with the most expensive average cost for two is:")
print(f"Name: {most_expensive['name']}")
print(f"City: {most_expensive['city']}")
print(f"Average cost for two: {most_expensive['average_cost_for_two']} {most_expensive['currency']}")
print(f"Cuisines: {most_expensive['cuisines']}")
print(f"Aggregate rating: {most_expensive['aggregate_rating']}")

print("\nTop 5 restaurants with highest average cost for two:")
print(sorted_df[['name', 'city', 'average_cost_for_two', 'currency', 'cuisines', 'aggregate_rating']].head())

The restaurant with the most expensive average cost for two is:
Name: The Tasting Room
City: Parañaque City
Average cost for two: 10000 P
Cuisines: European
Aggregate rating: 3.9

Top 5 restaurants with highest average cost for two:
                                           name              city  \
1713                           The Tasting Room    Parañaque City
5      Spiral - Sofitel Philippine Plaza Manila        Pasay City
1728               Medley Buffet - Okada Manila    Parañaque City
1750  Wolfgang's Steakhouse by Wolfgang Zwiener        Pasay City
2039  Wolfgang's Steakhouse by Wolfgang Zwiener  Mandaluyong City

      average_cost_for_two currency                 cuisines  aggregate_rating
1713                 10000        P                 European               3.9
5                     6000        P  European, Asian, Indian               4.9
1728                  5400        P            International               4.1
1750                  5100        P                    Steak               4.2
2039                  5100        P                    Steak               4.4

8. How many restaurants do not have a zipcode? **(1pt)** Write down your answer and show code used to come up with the answer.

6713 restaurants do not have a zipcode.

In [4]:
import pandas as pd

location_url = "https://raw.githubusercontent.com/Jad-Rian/Graded-Notebook-3---Zomato-Exercise/refs/heads/main/location.csv"
ratings_url = "https://raw.githubusercontent.com/Jad-Rian/Graded-Notebook-3---Zomato-Exercise/refs/heads/main/ratings.csv"
zomato_url = "https://raw.githubusercontent.com/Jad-Rian/Graded-Notebook-3---Zomato-Exercise/refs/heads/main/zomato.csv"

location_df = pd.read_csv(location_url)
ratings_df = pd.read_csv(ratings_url)
zomato_df = pd.read_csv(zomato_url)

merged_df = pd.merge(zomato_df, location_df, on='id', how='outer')
merged_df = pd.merge(merged_df, ratings_df, on='id', how='outer')

restaurants_without_zipcode = merged_df['zipcode'].isna().sum()

print(f"Number of restaurants without a zipcode: {restaurants_without_zipcode}")

total_restaurants = len(merged_df)
percentage_without_zipcode = (restaurants_without_zipcode / total_restaurants) * 100

print(f"Percentage of restaurants without a zipcode: {percentage_without_zipcode:.2f}%")

empty_string_zipcodes = (merged_df['zipcode'] == '').sum()
print(f"Number of restaurants with empty string zipcode: {empty_string_zipcodes}")

total_missing = restaurants_without_zipcode + empty_string_zipcodes
print(f"\nTotal number of restaurants without a valid zipcode: {total_missing}")

Number of restaurants without a zipcode: 6713
Percentage of restaurants without a zipcode: 98.29%
Number of restaurants with empty string zipcode: 0

Total number of restaurants without a valid zipcode: 6713

9. How many restaurants in the dataset allow online delivery? **(1pt)** Write down your answer and show code used to come up with the answer.

There are no restaurants in the dataset that allow online delivery.

In [12]:
if 'has_online_delivery' in merged_df.columns:

    restaurants_with_online_delivery = merged_df[merged_df['has_online_delivery'] == 1]
    number_of_restaurants_with_online_delivery = len(restaurants_with_online_delivery)

    restaurants_without_online_delivery = merged_df[merged_df['has_online_delivery'] == 0]
    number_of_restaurants_without_online_delivery = len(restaurants_without_online_delivery)

    restaurants_with_no_delivery_info = merged_df['has_online_delivery'].isna().sum()

    total_restaurants = len(merged_df)

    percentage_without_online_delivery = (number_of_restaurants_without_online_delivery / total_restaurants) * 100

    print(f"Number of restaurants that allow online delivery: {number_of_restaurants_with_online_delivery}")
    print(f"Number of restaurants that do not offer online delivery: {number_of_restaurants_without_online_delivery}")
    print(f"Number of restaurants with no delivery service info: {restaurants_with_no_delivery_info}")
    print(f"Percentage of restaurants that do not offer online delivery: {percentage_without_online_delivery:.2f}%")

else:
    print("'has_online_delivery' column is missing in the merged dataframe.")

Number of restaurants that allow online delivery: 0
Number of restaurants that do not offer online delivery: 6830
Number of restaurants with no delivery service info: 0
Percentage of restaurants that do not offer online delivery: 100.00%

In [10]:

restaurants_with_online_delivery = merged_df[merged_df['has_online_delivery'] == 1]

number_of_restaurants_with_online_delivery = len(restaurants_with_online_delivery)

print(f"Number of restaurants that allow online delivery: {number_of_restaurants_with_online_delivery}")

Number of restaurants that allow online delivery: 0

10. Which locatlity has more expensive food? Poblacion or Salcedo Village? **(3pts)** Write down your answer and show code used to come up with the answer.

Poblacion has more expensive food by 60.

In [11]:
if 'locality' in merged_df.columns and 'average_cost_for_two' in merged_df.columns:

    poblacion_df = merged_df[merged_df['locality'].str.contains('Poblacion', na=False)]
    salcedo_df = merged_df[merged_df['locality'].str.contains('Salcedo Village', na=False)]

    avg_cost_poblacion = poblacion_df['average_cost_for_two'].mean()
    avg_cost_salcedo = salcedo_df['average_cost_for_two'].mean()

    print(f"Average cost for two in Poblacion: {avg_cost_poblacion}")
    print(f"Average cost for two in Salcedo Village: {avg_cost_salcedo}")

    if avg_cost_poblacion > avg_cost_salcedo:
        print("Poblacion has more expensive food.")
    else:
        print("Salcedo Village has more expensive food.")
else:
    print("Required columns ('locality', 'average_cost_for_two') are missing in the merged dataframe.")

Average cost for two in Poblacion: 863.3333333333334
Average cost for two in Salcedo Village: 803.8686131386861
Poblacion has more expensive food.